[user]
    email = veiset@gmail.com
    name = Vegard Veiset

[github]
    user = veiset

[color]
    ui = true
    pager = true
    status = auto
    branch = auto
    interactive = auto

[alias]  
    ci = commit -am  
    co = checkout  
    st = !git branch && git status  
    praise = blame  
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[color]  
    branch = auto  

[color "status"]
    added = green
    changed = yellow
    untracked = red

[push]
	default = simple

[advice]
	statushints = false
