[user]
    email = veiset@gmail.com
    name = Vegard Veiset


[github]
    user = veiset

[color]
    ui = true
    pager = true
    status = auto
    branch = auto
    interactive = auto

[alias]  
    ci = commit -am  
    co = checkout  
    st = !git branch && echo "" && git status  
    br = branch
    mg = merge
    praise = blame  
    hist = log --all --pretty=format:\"%h %ad  %d %s [%an]\" --graph --date=short 
    graph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[color]  
    branch = auto  

[color "status"]
    added = green
    changed = yellow
    untracked = red

[push]
	default = simple

[advice]
	statushints = false
