[user]
    email = veiset@gmail.com
    name = Vegard Veiset

[github]
    user = veiset

[color]
    ui = true

[alias]  
    ci = commit -am  
    co = checkout  
    st = status  
    praise = blame  
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[color]  
    branch = auto  

[status]  
    color = auto 

[push]
	default = simple
